body {
 
      

h1 {
    color: rgba(255, 255, 255, 0.863);
    font-size: 40px;
}
p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

a { 
    color: rgb(255, 255, 255);
    text-decoration: none;

}


}